# Exclure les environnements virtuels
venv/

# Exclure les fichiers temporaires
*.log
*.pyc
__pycache__/

# Exclure les données brutes et traitées
data/raw/
data/processed/

# Exclure les checkpoints et modèles
checkpoints/
bert_model/"output/mapped_mittre/dynamic_mitre_mapped.csv" 
"output/mapped_mittre/dynamic_mitre_mapped.json" 
"output/mapped_mittre/dynamic_mitre_mapped_with_labels.json" 
"logs/model.safetensors"

# Fichiers volumineux
temp.pt
bert_model/model.safetensors
output/mapped_mittre/*.csv
output/mapped_mittre/*.json

# Données générées
data/processed/
output/cluster_file/
output/reports/
logs/
output/mapped_mittre/dynamic_mitre_mapped.csv 

# Ignorer les gros fichiers modèles
output/models/
output/mapped_mittre/dynamic_mitre_mapped_with_labels.json
logs/model.safetensors

